.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #121619;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto; 
}